#client
FB_CLIENT_ID  = xxx
FB_CLIENT_SECRET = xxx
FB_ACCESS_TOKEN = xxx
JWT_SECRET = xxx

#typeorm
TYPEORM_CONNECTION = xxx
TYPEORM_USERNAME = xxx
TYPEORM_PASSWORD = xxx
TYPEORM_DATABASE = xxx
TYPEORM_PORT = 5432
TYPEORM_ENTITIES = xxx
